[core]
	excludesfile = /Users/bcushing/.gitignore_global
[user]
	name = Bradley Cushing
	email = bradley.cushing@dashlane.com
	signingkey = 78115DED2DCC4291E175509059F654E413DC2247
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[rebase]
	autosquash = true
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
