[core]
	excludesfile = /home/bradcush/.gitignore_global
[user]
	name = Bradley Cushing
	email = bradleycushing@gmail.com
	signingkey = 0DC07BB23793C014
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[rebase]
	autosquash = true
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	# Forces ssh useful private plugins
	insteadOf = https://github.com/
